<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web3-result</title>
</head>

<body>
<form action="/result" method="GET">

</form>
</body>

<body>
<form action="/registration" method="POST">
</form>
</body>

<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/transaction">Transaction</a>
        </td>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>

<p>Message: ${message}</p>

</body>
</html>